@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    background-color: #2d2d2d;
    color: white;
    font-family: "Poppins", sans-serif;
    cursor: url("./circle.svg"), auto;
}

:root {
    --max-width: 30%;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

*::-webkit-scrollbar {
    display: none;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    filter: blur(0);
    transform: translateX(0);
    opacity: 1;
}

.projects {
    display: flex;
    justify-content: space-evenly;
}

.project {
    padding: 10px;
    margin: 10px;
}

.title {
    color: white;
    transition: 1s;
}

.title:hover {
    cursor: none;
    color: coral;
}

.scroll {
    transform: translateY(-30px);
    transition: 0.8s;
}

.scroll:hover {
    cursor: none;
    transform: translateY(0);
}

.passions {
    max-width: calc(var(--max-width));
}

.lists {
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    transition: all 0.2s ease;
}

.lists:hover {
    font-size: larger;
    cursor: none;
}

li {
    color: white;
    transition: all 1s;
}

li:hover {
    color: coral;
}